@media only screen and (max-width: 991px) {
  .header__content {
    padding: 15px 20px;
  }
  .header__bg {
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }
  .search-alphabet {
    display: none;
  }
  .most-sought-disease__list,
  .alphabet-header__list {
    display: block;
  }
  .alphabet-header__backtop {
    display: none;
  }
  span.mb-block {
    display: block;
  }
  .most-sought-disease__list,
  .alphabet-header__list {
    display: none;
  }
  .most-sought-disease__list.open,
  .alphabet-header__list.open {
    display: block;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
  }
  .alphabet-header,
  .most-sought-disease__header {
    margin-bottom: 0;
  }
  .most-sought-disease,
  .alphabet {
    border-bottom: 1px solid #dfdfdf;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px 0;
  }
}
